<!-- <script src="https://unpkg.com/angular-datetime-input"></script> -->
<div class="row justify-content-center">
  <div class="col-md-8">
    <div class="card">
      <div class="card-header">Share a plate</div>
      <div class="card-body">

        <form (ngSubmit)="onSubmit()">

          <div class="form-group row">
            <label for="title" class="col-md-4 col-form-label text-md-right">
              title:
            </label>
            <div class="col-md-6">
              <input id="title" class="form-control" type="text" name="title" [(ngModel)]="title" />
            </div>
          </div>

          <div class="form-group row">
            <label for="description" class="col-md-4 col-form-label text-md-right">
              description:
            </label>
            <div class="col-md-6">
              <input id="description" class="form-control" type="text" name="description" [(ngModel)]="description" />
            </div>
          </div>

          <div class="form-group row">
            <label for="startpickuptime" class="col-md-4 col-form-label text-md-right">
              Start Pick-up time:
            </label>
            <div class="col-md-6">
              <input id="startpickuptime" class="form-control" type="datetime-local" name="startpickuptime" [(ngModel)]="startpickuptime" />
            </div>
          </div>

          <div class="form-group row">
            <label for="endpickuptime" class="col-md-4 col-form-label text-md-right">
              End Pick-up time:
            </label>
            <div class="col-md-6">
              <input id="endpickuptime" class="form-control" type="datetime-local" name="endpickuptime"
                [(ngModel)]="endpickuptime" />
            </div>
          </div>

          <div class="form-group row">
            <label for="portionsavailable" class="col-md-4 col-form-label text-md-right">
              Portions available:
            </label>
            <div class="col-md-6">
              <input id="portionsavailable" class="form-control" type="number" name="portionsavailable"
                [(ngModel)]="portionsavailable" />
            </div>
          </div>

          <div class="form-group row">
            <label for="createdby" class="col-md-4 col-form-label text-md-right">
              sharing user id:
            </label>
            <div class="col-md-6">
              <input id="createdby" class="form-control" type="text" name="createdby" [(ngModel)]="createdby" />
            </div>
            <!-- <div class="col-md-6">
              <input id="pickupusers" class="form-control" type="text" name="pickupusers" [(ngModel)]="pickupusers" />
            </div> -->
          </div>

          <div>  </div>

          <div class="form-group row mb-0">
            <div class="col-md-6 offset-md-4">
              <button type=submit class="btn btn-primary">
                Share this plate
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
